<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/FusionIIIT/Fusion" target="_blank">
          <img src="{{site.baseurl}}/img/featured/fusion/fusion.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/FusionIIIT/Fusion" target="_blank">Fusion - Intracollege Website</a>
        </div>
        <p>Developed an online registration process for students and admin verification used by more than 1500 students.
        </p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/garvitgupta13/Dr-Net" target="_blank">
          <img src="{{site.baseurl}}/img/featured/dr-net/dr-net.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/garvitgupta13/Dr-Net" target="_blank">DR-Net – Instant Chat app with doctors</a>
        </div>
        <p>Built a web portal for real-time consultations with medical professionals, featuring real-time chat, user
          activity tracking, and secure payment integration.</p>
        </p>
      </figcaption>
    </div>
  </div>
</section>